*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #50359c;
    color: #fff;
    text-align: center;
    padding: 20px;
    animation: fadeIn 1s;
}

h1 {
    margin: 0;
    font-size: 36px;
}

nav {
    background-color: #6264e2;
    color: #fff;
    text-align: center;
    padding: 10px;
    animation: fadeInUp 1s;
}

nav a {
    text-decoration: none;
    color: #fff;
    margin: 10px;
}
.welcome img{
    margin: 20px;
    width: 100%;
    max-height: 500px;
}

.head h2{
    color: rgb(175, 13, 13);
   
    text-align: center;
}

.suggestion{
    width: 100%;
    min-height: 100hv;
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 90px;
  }
  
  .suggestion-section{
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  .suggestion-section .cards{
    flex: 1;
    margin: 20px 20px;
    box-shadow:0px 2px 8px 0px ;
  }
  .suggestion-section .cards img{
    width: 100%;
  }
  .suggestion-section .cards p {
    margin: 5px;
  }
  .suggestion-section .cards h3{
    margin: 5px;
  }
  #head{
    
    margin-left: 20px;
    margin-top: 40px;
  
  }
  .cards:hover{
    box-shadow: inset 5px 5px 10px rgba(0,0,0,.3), inset -4px -4px 10px white;
    transition:.2s;
    transition: ease-out;
  }
  
  
  @media screen and (max-width:768px){
    .suggestion-section{
        flex-direction: column;
    }
  }
